<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Tracker - New workout</title>
    <link href="static/style.css" rel="stylesheet">
    <link rel="icon" type="image/svg" href="static/favicon.svg">
    <link rel="stylesheet" href="https://nordcdn.net/ds/themes/9.0.0/nord-dark.css" integrity="sha384-4mfQkitA1YUssjHukrfVhopnhPw9eM2tX8Z05rZ/5NJRmDJN1fQp2gGfwydx2SzL" crossorigin="anonymous" />
  </head>
  <body>
    <script>0</script>
    <h1>New workout: {{ workout_plan.name }}</h1>
    <form method="post">
      {% for exercise in workout_plan.exercises %}
      <div>
        <label for="ex1set1">{{ exercise.name }}</label>
        <div style="flex flex-row">
          {% match exercise.exercise_type %}
            {% when ExerciseType::Weighted { goal_weight } %}
              <input type="number" name={{ exercise.name }} id="ex1set1" value="10">
              kgs
            {% when ExerciseType::BodyweightReps { goal_reps } %}
              <input type="number" name={{ exercise.name }} id="ex1set1" value="10">
              reps
            {% when ExerciseType::BodyweightTime { goal_duration_seconds } %}
              <input type="number" name={{ exercise.name }} id="ex1set1" value="10">
              secs
          {% endmatch %}
          <button><em>+</em></button>
        </div>
      </div>
      {% endfor %}
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
